* {
  color: #ffffff;
  font-family: 'Roboto';
}
.home-bg-container {
  background-color: #0c0026;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2%;
  padding-bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
}
@media screen and (min-width: 576px) {
  .home-bg-container {
    width: 100%;
  }
}
.loader-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding-left: 5%;
  padding-right: 5%;
}
.home-head {
  color: #ffffff;
  font-family: 'Cinzel', serif;
  font-size: 20px;
  font-weight: 600;
  margin-top: 80px;
  text-align: center;
}
.home-bg-card {
  text-align: center;
}
.home-input {
  height: 45px;
  width: 280px;
  color: #ffffff;
  background-color: #26154a;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.searchIcon {
  color: #ffffff;
  height: 40px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.searchIcon-container {
  height: 45px;
  width: 35px;
  background-color: #3d3d3d;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
.input-cont {
  display: flex;
  width: 100%;
  margin: auto;
  align-self: center;
}
.home-login-img {
  width: 350px;
  border-radius: 12px;
  height: 350px;
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  .input-cont {
    width: 600px;
  }
  .home-input {
    width: 350px;
    margin-left: 100px;
  }
  .home-head {
    font-size: 24px;
  }
  .home-login-img {
    width: 400px;
    height: 250px;
  }
}
.err {
  color: red;
  margin-right: 35px;
  margin-left: 0px;
  margin-top: 0px;
}
.err-input {
  border: 1px solid red;
}
.err-retry {
  color: #ffffff;
}
.try-again {
  background-color: #037bfc;
  color: #ffffff;
  width: 110px;
  height: 30px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}
.bottom-cont {
  text-align: center;
}
.success-input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  height: 90vh;
  margin-top: 3%;
  margin-left: 2%;
}
.profile-cont {
  text-align: center;
}
.profile-img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .profile-img {
    height: 150px;
    width: 150px;
  }
}
.profile-name {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 23px;
  font-weight: 400;
  margin: 10px;
}
@media (min-width: 768px) {
  .profile-name {
    font-size: 28px;
  }
}
.profile-desc {
  color: #ffff;
  padding: 10px;
}
.profile-follow-cont {
  display: flex;
  height: 100px;
  max-height: 400px;
  width: 312px;
  justify-content: space-between;
  margin-top: 25px;
  margin: auto;
}
.hr {
  background-color: #1f2f47;
  height: 58px;
  color: #ffffff;
}
.pro-follow {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  color: #ffff;
}
.por-f {
  margin: 0px;
  padding: 0px;
  color: #ffff1a;
  font-size: 20px;
}
.profile-locate-info-cont {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
}
@media (min-width: 768px) {
  .profile-locate-info-cont {
    min-width: 110%;
    justify-content: space-between;
    margin-left: 0%;
  }
}
.locate-title {
  font-size: large;
  color: #ffff1a;
  margin-bottom: 5px;
}
.at-company {
  display: flex;
  justify-content: center;
}
.bulid-icon {
  font-size: 18px;
  min-height: 50px;
  margin-right: 5px;
  max-height: 150px;
}
.company-url {
  text-align: center;
}
.large-device-comp-url {
  display: none;
}
@media (min-width: 768px) {
  .company-url {
    display: none;
  }
  .large-device-comp-url {
    display: inline;
  }
}
